body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageNav {
    margin-top: 20px;
    &__items {
        margin-top: 10px;
        list-style: none;
        text-align: center;
    }
}

.pageHeader {
    width: 100%;
    position: sticky;
    top: 0px;
    text-align: center;
    background: rgba(255,255,255,.7);
    backdrop-filter: blur(5px);
    padding: 20px 0;
}

.pageContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    main {
        margin-top: 20px;
    }
}

